<div class="full-page-layout">
  <app-header style="z-index: 2" [snav]="snav"></app-header>

  <mat-sidenav-container style="height: 100%;">
    <mat-sidenav [mode]="mobileQuery.matches ? 'over' : 'side'" opened class="mat-elevation-z2" style="width: 33%; min-width: 280px;" [fixedInViewport]="mobileQuery.matches" fixedTopGap="56" #snav>
      <mat-action-list style="height: 79px; border-bottom: 1px solid #eee;" color="primary">
        <button style="width: 100%; height: 100%" mat-button color="primary" [routerLink]="['edit']">
          <div class="left-panel-header-main valign-center" style="padding: 10px;">
            <mat-icon aria-hidden="false">add_circle</mat-icon>
            <span class="left-panel-title">New List</span>
          </div>
        </button>
      </mat-action-list>
      <div class="search-left-section" style="width: 100%; display: flex; justify-content: center; border-bottom: 1px solid #e4e4e4;">
        <mat-form-field style="width: 100%; padding: 0 24px; padding-top: 1.34375em; " appearance="outline">
          <mat-label>Search List</mat-label>
          <input  matInput placeholder="Enter keyword">
          <button matSuffix style="flex: 1" mat-icon-button matTooltip="Search" color="primary">
            <mat-icon aria-hidden="false">search</mat-icon>
          </button>
        </mat-form-field>

      </div>
      <div>
        <mat-expansion-panel *ngFor="let category of categories"
                            style="box-shadow: none;"
                            (opened)="panelOpenState = true"
                            (closed)="panelOpenState = false">
          <mat-expansion-panel-header *ngIf="category.Title">
            <mat-panel-title class="left-panel-header">
              <span >{{ category.Title }}</span>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-action-list>
              <mat-list-item [routerLink]="['view', list.ListID]" *ngFor="let list of category.Lists">
                <button class="left-panel-header"> {{ list.Title }} </button>
              </mat-list-item>
            </mat-action-list>

        </mat-expansion-panel>

        <mat-action-list>
          <mat-list-item *ngFor="let list of uncategorized" [routerLink]="['view', list.ListID]" >
            <div style="width: 100%;display: flex; justify-content: space-between;">
              <button [routerLink]="['view', list.ListID]" class="left-panel-header"> {{ list.Title }} </button>
              <!-- <mat-icon matSuffix matTooltip="Choose from list">view_list</mat-icon> -->
            </div>
          </mat-list-item>
        </mat-action-list>
      </div>
    </mat-sidenav>

    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>