<div class="full-page-layout">
  <mat-toolbar class="mat-elevation-z1 mat-toolbar mat-primary" style="z-index: 2; min-height: 80px;">
    <span>{{ !list.ListID ? 'Create New List' : 'Edit List: ' + list?.Title }}</span>
    <span class="spacer"></span>
    <button mat-icon-button (click)="list.ListID ? updateList() : addNewList();" matTooltip="Save">
      <mat-icon class="mat-18">save</mat-icon>
    </button>
    <button mat-icon-button matTooltip="More Options" [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
      <mat-icon class="mat-18">more_horiz</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button (click)="addNewList();" [routerLink]="['', 'view', list.ListID]" mat-menu-item>
        <mat-icon>pageview</mat-icon>
        <span>View</span>
      </button>
      <button mat-menu-item>
        <mat-icon>email</mat-icon>
        <span>Send via Email</span>
      </button>
      <mat-divider></mat-divider>
      <button mat-menu-item>
        <mat-icon>delete</mat-icon>
        <span>Remove</span>
      </button>
    </mat-menu>
  </mat-toolbar>
  <mat-card class="form-content">
    <form class="full-page-layout" *ngIf="list">
      <div class="full-row mat-elevation-z2" style="z-index: 11;">
        <span class="header-label" mat-subheader>Description:</span>
        <div class="full-row-body">
          <mat-form-field appearance="outline">
            <mat-label >Title</mat-label>
            <input name="Title" [(ngModel)]="list.Title" required matInput placeholder="Enter title">
            <mat-hint>Please enter a title for your list</mat-hint>
          </mat-form-field>
          <ng-container>
            <mat-form-field *ngIf="!isTest" appearance="outline">
              <mat-label>Category</mat-label>
              <mat-select name="Category" [(ngModel)]="list.CategoryID">
                <mat-option [value]=0>
                  <span>-- None -- </span>
                </mat-option>
                <mat-option (click)="isTest = true;">
                  -- Create New Category --
                </mat-option>
                <mat-option *ngFor="let category of categories" [value]="category.CategoryID" (change)="list.CategoryTitle = category.Title">
                  <span>{{ category.Title }}</span>
                </mat-option>
              </mat-select>
              <mat-hint>Please select a category, or <a class="link" (click)="isTest = true;">create a new one</a>.</mat-hint>
            </mat-form-field>

            <mat-form-field *ngIf="isTest"  appearance="outline">
              <mat-label>New Category</mat-label>
              <input name="Category" [(ngModel)]="list.CategoryTitle" matInput placeholder="Enter Category">
              <mat-icon style="cursor: pointer;" matSuffix (click)="isTest = false;" matTooltip="Choose from list">undo</mat-icon>
              <mat-hint>Enter a title to create a new category. <a class="link" (click)="isTest = false;">Undo.</a></mat-hint>
            </mat-form-field>
          </ng-container>
        </div>
      </div>
      
      <div class="full-row-bottom">
        <div>
          <mat-nav-list>
            <mat-list-item class="item-view" *ngFor="let item of list.Items; let i = index;" (click)="onClickListItem(item, i)" [ngStyle]="{'background-color': currentIndex === i ? '#F0F0F0': '#FFFFFF'}">
              <span>{{ i + 1 }}</span>
              <span class="item-view-image">
                <!-- <a href="https://icdn2.digitaltrends.com/image/digitaltrends/fujifilm-x-t30-hands-on-7174-1920x1280.jpg" target="_blank"> -->
                <a href={{item.ImageURL}} target="_blank">
                  <img src="https://icdn2.digitaltrends.com/image/digitaltrends/fujifilm-x-t30-hands-on-7174-1920x1280.jpg">
                </a>
              </span>
              <span>{{ item.Title }}</span>
              <span class="description">{{ item.Description }}</span>
              <span class="spacer"></span>
              <!-- <button color="warn" (click)="onRemoveListItem(i)" mat-icon-button matTooltip="Remove Item">
                  <mat-icon>close</mat-icon>
              </button> -->
            </mat-list-item>
              
          </mat-nav-list>
        </div>
      </div>
    </form>
  </mat-card>
</div>