<div class="wrapper" style="border-radius: 14px;">
  <mat-toolbar color="primary" class="mat-elevation-z2" style="border-radius: 2px 2px 0 0;" >
    <span>Create New List</span>
    <span class="spacer"></span>
    <button mat-raised-button (click)="addNewList();" matTooltip="Save list" >
      <mat-icon class="mat-18">save</mat-icon>
    </button>

  </mat-toolbar>
  <div class="mat-elevation-z2" style="border-radius: 0 0 2px 2px ; padding: 0 16px; background-color: #fff;">
    <form class="example-form" style="padding: 16px 0px; display: flex; flex-direction: column;">

      <mat-form-field style="margin-bottom: 12px;" appearance="outline">
        <mat-label >Title</mat-label>
        <input name="Title" [(ngModel)]="list.Title" required matInput placeholder="Enter title">
        <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
        <mat-hint>Please enter a title for your list</mat-hint>
      </mat-form-field>

      <ng-container>
        <mat-form-field style="margin-bottom: 12px;" *ngIf="!isTest" appearance="outline">
          <mat-label>Category</mat-label>
          <mat-select name="Category" [(ngModel)]="list.Category" (click)="isTest = true;">
            <mat-option value="CreateNew">
              - Create New Category -
            </mat-option>
            <mat-option value="None">
              - None -
            </mat-option>
          </mat-select>
          <mat-hint>Please select a category, or create a new one.</mat-hint>
        </mat-form-field>

        <mat-form-field style="margin-bottom: 12px;" *ngIf="isTest"  appearance="outline">
          <mat-label>New Category</mat-label>
          <input name="Category" [(ngModel)]="list.Category" matInput placeholder="Enter Category">
          <mat-icon matSuffix>arrow_drop_down</mat-icon>
          <!-- <mat-hint>Please enter a title to create a new category, or you may select an existing one.</mat-hint> -->
          <mat-hint>Enter a title to create a new category.</mat-hint>
        </mat-form-field>
      </ng-container>

      <mat-divider style="border-width: 4px;"></mat-divider>
      <span style="line-height: 16px; font-size: 14px; font-weight: 500; font-family: Roboto,'Helvetica Neue',sans-serif; color: rgba(0,0,0,.54);" mat-subheader>Add Item:</span>
      <mat-form-field style="margin-bottom: 12px; flex: 9 " appearance="outline">
        <mat-label>Item</mat-label>
        <input matInput placeholder="Enter your item">

        <mat-hint>Please enter item</mat-hint>
      </mat-form-field>
      <div style="width: 100%; display: flex;">
        <mat-form-field style="margin-bottom: 12px; flex: 9 " appearance="outline">
          <mat-label>Description</mat-label>
          <input matInput placeholder="Enter description">

          <mat-hint>Please enter description</mat-hint>
        </mat-form-field>

        <button (click)="imageInput.click()" mat-stroked-button matTooltip="Add photo" style="margin-top: 4px; margin-left: 10px; height: 51px;">
          <mat-icon matSuffix>add_a_photo</mat-icon>
        </button>
        <input #imageInput
              [hidden]=true
              type="file"
              accept="image/*"
              (change)="processFile(imageInput)">
        <button color="primary" mat-stroked-button (click)="addNewLine();" matTooltip="Add item" style="margin-top: 4px; margin-left: 10px; height: 51px;">
          <mat-icon class="mat-18">add</mat-icon>
        </button>
      </div>

    </form>

    <mat-divider style="border-width: 4px;"></mat-divider>
    <div style="padding-bottom: 12px;">

      <mat-nav-list>
        <h4 mat-subheader>Items:</h4>
        <mat-list-item class="item-view">
          <!-- <a matLine href="...">asdf</a> -->
          <span>1</span>
          <span style="display: flex;">
            <a href="https://icdn2.digitaltrends.com/image/digitaltrends/fujifilm-x-t30-hands-on-7174-1920x1280.jpg" target="_blank">
              <img style="max-width: 80px; max-height: 80px;" src="https://icdn2.digitaltrends.com/image/digitaltrends/fujifilm-x-t30-hands-on-7174-1920x1280.jpg">
            </a>

          </span>


          <span style="font-weight: 500">Camera</span>
          <span style="color: #999">Make sure it's the blue one.</span>
          <span class="spacer"></span>
          <button color="warn" mat-icon-button matTooltip="Remove Item">
              <mat-icon>close</mat-icon>
          </button>
        </mat-list-item>

        <mat-list-item class="item-view">
          <!-- <a matLine href="...">asdf</a> -->
          <span>2</span>
          <span style="display: flex;"><img style="max-width: 80px; max-height: 80px;" src="https://www.ft.com/__origami/service/image/v2/images/raw/https%3A%2F%2Fs3-ap-northeast-1.amazonaws.com%2Fpsh-ex-ftnikkei-3937bb4%2Fimages%2F5%2F1%2F8%2F0%2F20370815-2-eng-GB%2FCropped-1555509431RTS22VSA.jpg?source=nar-cms"></span>
          <span style="font-weight: 500">Camera</span>
          <span style="color: #999">The weird handle one.</span>
          <span class="spacer"></span>
          <button color="warn" mat-icon-button matTooltip="Remove Item">
            <mat-icon>close</mat-icon>
        </button>
        </mat-list-item>
      </mat-nav-list>

    </div>


</div>
<div style="width: 100%; text-align: right;">
  <button color="warn" style="margin-top: 10px;" mat-button (click)="addNewLine();" matTooltip="Delete List" >
    <mat-icon class="mat-18">delete_forever</mat-icon>
  </button>
</div>
