/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.wrapper {
  padding: 30px;
}
.spacer {
  flex: 1 1 auto;
}
.full-page-layout {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.full-page-layout > *:last-child {
  height: inherit;
}

.item-view {
  border-bottom: 1px solid #f3f3f4;
}
.item-view span {
  padding: 0 10px;
  font-weight: 300;
  overflow-wrap: break-word;
}
.item-view .mat-list-item-content {
  padding: 10px !important;
  width: 100%;
}
